.nav-logo{
     padding:1% 3%;
}

.header{
    border-bottom: 2px solid;
    border-color: #ADC8D8;

}
label{
    width: 10%;
}

.offer_btn{

    padding: 0% 2%;

}
.title_graph{

    padding: 0% 15%;
}


#chart{
    margin:15% 5% 5% 5%;

}
.wrapper-c{
    float:left; /* important */
    position:relative;
}
#data-tip{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottombottom:0px; /* position will be on bottom */

    width:100%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
.align_label{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);

}

.c3-axis-y-label,.c3-axis-x-label{
    font-size: 15px;
}

.c3-legend-item > text {

    font-size: 15px;

}


.c3-region.region1 {
    fill: blue;
}
